#!/bin/bash

# Tools
BASENAME="/usr/bin/basename"
CAT="/bin/cat"
URLENCODE="./urlencode"
URLDECODE="./urldecode"
CUT="/usr/bin/cut"
XMLLINT="/usr/bin/xmllint"
BASE64="/usr/bin/base64"
TR="/usr/bin/tr"
ECHO="echo" # bash internal, /bin/echo -> argument list to long
EVAL="eval"
EXEC="exec"
EXPORT="export"
SED="/bin/sed"
CURL="/usr/bin/curl"
RECODE="/usr/bin/recode"
PROGBAR="./progressbar"
SLEEP="/bin/sleep"
PRINTF="/usr/bin/printf"
MPG321="/usr/bin/mpg321"
DATE="/bin/date"
KILL="/bin/kill"
PYTHON="/usr/bin/python"
SORT="/usr/bin/sort"
HEAD="/usr/bin/head"
TEMPFILE="/bin/tempfile"
RM="/bin/rm"
SORT="/usr/bin/sort"
UNIQ="/usr/bin/uniq"
GZIP="/bin/gzip"
GUNZIP="/bin/gunzip"
GREP="/bin/grep"
AWK="/usr/bin/awk"
WC="/usr/bin/wc"
MKDIR="/bin/mkdir"
MKTEMP="/bin/mktemp"
XXD="/usr/bin/xxd"

# Pathes
PROJECT_ROOT="${0%/*}"
PROJECT_TMP_ROOT="${PROJECT_ROOT}/tmp"
PROJECT_LOG_ROOT="${PROJECT_ROOT}/log"

# Files
FUNCTIONS="${PROJECT_ROOT}/hinject.functions"
LOGFILE="${PROJECT_LOG_ROOT}/hinject.log"
RESPONSEFD="6"
RESPONSEFDFILE="${PROJECT_LOG_ROOT}/response.fd.${RESPONSEFD}"

# must be set passing to hinject, otherwise this default file is used
# which just contains no usable header configuration
HEADERCONFIG="${PROJECT_ROOT}/hinject.headers.xml"
SCENARIOCONFIG="${PROJECT_ROOT}/hinject.scenarios.xml"

# could be left empty then the variable names from storeas are used directly
#   but you then need to check environment variables yourself 
#   to avoid overriding them 
# if this prefix is changed you need to adjust your headers configuration
MAP_STR_PREFIX="PJ_STR_"

