<?xml version="1.0" encoding="utf-8" ?>

<phpunit colors="true" verbose="true" 
         stopOnError="false" stopOnFailure="false" 
         bootstrap="@confdir-phpunit@/autoloader.inc.php"
         timeoutForSmallTests="3" timeoutForMediumTests="10" timeoutForLargeTests="60">

  <!-- TESTSUITES -->
  <testsuites>

    <!-- NOTE: the active attribute required for ant script to figure 
               out which suites should be run
               see src/util/build/phpunit-getsuites -->

    <!-- NOTE: newlined pathes for <directory>-tags do not work
               because the containing path is not trimmed -->

    <!-- NOTE: in order to have a complete coverage report for all
               test classes run them as one testsuite otherwise the
               coverage report just shows results for the last suite
               assuming all other classes were covered with e.g. 0%.
               For multiple applicatons that probably share code
               manage the testsuite path in a way all applications 
               are regarded. -->

    <testsuite name="@confvalue-doxygen-pjname@" active="y">

      <directory suffix=".test.class.php" phpVersion="5.6.12" phpVersionOperator="&gt;=">@confvalue-phpunit-indir@/core/util/log</directory>

      <directory suffix=".test.class.php" phpVersion="5.6.12" phpVersionOperator="&gt;=">@confvalue-phpunit-indir@/core/util/xml</directory>

      <directory suffix=".test.class.php" phpVersion="5.6.12" phpVersionOperator="&gt;=">@confvalue-phpunit-indir@/core</directory>

    </testsuite>

  </testsuites>

  <!-- FILTER -->
  <!-- NOTE: exclude some files for calculating coverage in testsuite(s) above
             e.g. exclude autoloader.class.php as it primarly used to bootstrap 
               test those classes separately -->
  <!--
  <filter>
    <whitelist 
               addUncoveredFilesFromWhitelist="true"
               processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">@confvalue-phpunit-indir@</directory>
      <exclude>
        <file>@confvalue-phpunit-indir@/core/autoloader.class.php</file>
      </exclude>
    </whitelist>
  </filter>
  -->

  <!-- LOGGING -->
  <logging>
    <log type="coverage-html" target="@phpunit-log-dir@/main/coverage-html" lowUpperBound="50" highLowerBound="90"/>
    <log type="coverage-clover" target="@phpunit-log-dir@/main/coverage-clover.xml"/>
    <log type="coverage-crap4j" target="@phpunit-log-dir@/main/coverage-crap4j.xml"/>
    <log type="coverage-php" target="@phpunit-log-dir@/main/coverage-log.php"/>
    <log type="coverage-text" target="@phpunit-log-dir@/main/coverage-text.log" showUncoveredFiles="false" />
    <log type="json" target="@phpunit-log-dir@/main/log.json"/>
    <log type="plain" target="@phpunit-log-dir@/main/plain.log"/>
    <log type="tap" target="@phpunit-log-dir@/main/log.tap"/>
    <log type="junit" target="@phpunit-log-dir@/main/junit.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="@phpunit-log-dir@/main/testdox-html.html"/>
    <log type="testdox-text" target="@phpunit-log-dir@/main/testdox-text.log"/>
  </logging>

</phpunit>

<!--

<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="/path/to/bootstrap.php"
         cacheTokens="false"
         colors="false"
         stderr="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTestSize="false"
         beStrictAboutTodoAnnotatedTests="false"
         checkForUnintentionallyCoveredCode="false"
         verbose="false">

  <testsuites>
    <testsuite name="My Test Suite">
      <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">/path/to/files</directory>
      <file phpVersion="5.3.0" phpVersionOperator=">=">/path/to/MyTest.php</file>
      <exclude>/path/to/files/exclude</exclude>
    </testsuite>
  </testsuites>

  <groups>
    <include>
      <group>name</group>
    </include>
    <exclude>
      <group>name</group>
    </exclude>
  </groups>

  <filter>
    <blacklist>
      <directory suffix=".php">/path/to/files</directory>
      <file>/path/to/file</file>
      <exclude>
        <directory suffix=".php">/path/to/files</directory>
        <file>/path/to/file</file>
      </exclude>
    </blacklist>
    <whitelist addUncoveredFilesFromWhitelist="true"
               processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">/path/to/files</directory>
      <file>/path/to/file</file>
      <exclude>
        <directory suffix=".php">/path/to/files</directory>
        <file>/path/to/file</file>
      </exclude>
    </whitelist>
  </filter>

  <listeners>
    <listener class="MyListener" file="/optional/path/to/MyListener.php">
      <arguments>
        <array>
          <element key="0">
            <string>Sebastian</string>
          </element>
        </array>
        <integer>22</integer>
        <string>April</string>
        <double>19.78</double>
        <null/>
        <object class="stdClass"/>
        <file>MyRelativeFile.php</file>
        <directory>MyRelativeDir</directory>
      </arguments>
    </listener>
  </listeners>
  
  <logging>
    <log type="coverage-html" target="/tmp/report" lowUpperBound="50" highLowerBound="90"/>
    <log type="coverage-clover" target="/tmp/clover.xml"/>
    <log type="json" target="/tmp/logfile.json"/>
    <log type="plain" target="/tmp/logfile.txt"/>
    <log type="tap" target="/tmp/logfile.tap"/>
    <log type="junit" target="/tmp/logfile.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="/tmp/testdox.html"/>
    <log type="testdox-text" target="/tmp/testdox.txt"/>
    <log type="coverage-crap4j" target="/tmp/crap.xml"/>
  </logging>

  <php>
    <includePath>.</includePath>
    <ini name="foo" value="bar"/>
    <const name="foo" value="bar"/>
    <var name="foo" value="bar"/>
    <env name="foo" value="bar"/>
    <post name="foo" value="bar"/>
    <get name="foo" value="bar"/>
    <cookie name="foo" value="bar"/>
    <server name="foo" value="bar"/>
    <files name="foo" value="bar"/>
    <request name="foo" value="bar"/>
  </php>
 
  <selenium>
    <browser name="Firefox on Linux"
             browser="*firefox /usr/lib/firefox/firefox-bin"
             host="my.linux.box"
             port="4444"
             timeout="30000"/>
  </selenium>

</phpunit>
-->
