<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<module name="mysqlidriver" version="0.0.1">
  <priority>optional</priority>
  <sections>
    <section>database</section>
  </sections> 
  <size>10000</size>
  <maintainers>
    <maintainer>
      <name>Marc Bredt</name>
      <mail>marc.bredt@gmail.com</mail>
    </maintainer>
    <maintainer>
      <group>Heili database group</group>
      <mail>heili-database@kleinkiesow.lo</mail>
    </maintainer>
  </maintainers>
  <description>A MySQLi database driver.</description>
  <homepage>http://www.berlin.lo</homepage>
  <depends>
    <package type="system" name="php"  version=">=5.0.0" />
    <package type="module" name="core" version=">=0.0.1" />
  </depends>
  <suggests />
  <breaks />
</module>
